* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .ant-menu-submenu {
  transition: all 0.15s ease-out !important;
}
.ant-menu-submenu > .ant-menu {
  transition: all 0.15s ease-out !important;
} */

/* Убираем серую подсветку при фокусе, если элемент не выбран */
.ant-menu-item:focus:not(.ant-menu-item-selected),
.ant-menu-submenu-title:focus:not(.ant-menu-submenu-selected) {
  background-color: transparent !important;
  outline: none !important;
}

